*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
/* For desktop */
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 76px;
    box-shadow: 0px 1px 9px 0px grey;
    position: fixed;
    padding: 0 1.5rem;
}

.navbar .first{
    display: flex;
    align-items: center;
    height: 76px;
    position: relative;
}
.first p{
    margin-left: 20px;
    cursor: pointer;
}
.categories-container{
    position: absolute;
    width: 200px;
    background-color: white;
    left:0px;
    top: 76px;
    border: 1px solid #515151;
    padding-bottom: 1rem;
}
.categories-subcontainer{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}
.categories-subcontainer-mobile-main{
    padding: 0 1rem;
}
.categories-subcontainer-mobile-sub{
    position: absolute;
    top:100px;
    left:20px;
}
.categories-second-container{
    position: absolute;
    left:200px;
    top:0px;
    border: 1px solid #515151;
    background-color: white;
    width: 300px;
    padding-bottom: 1rem ;
}
.categories-second-container p{
    margin-top: 1rem;
}
.subcategory-icon{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}
.subcategory-mobile-sub{
    margin-top: 20px;
}
.subcategory-icon p:hover{
    color: blueviolet;
}
.arrow-icon{
    width: 10px;
    height: 10px;
}
a {
    text-decoration: none;
    color: black;
}
h1{
    font-size: 1.5rem;
}
p{
    font-size: 0.8rem;
}
.navbar .input-section{
    width: 60%;
    margin-left: 1rem;
}
input{
    width: 100%;
    border-radius: 30px;
    border: 1px solid #515151;
    height: 46px;
    padding: 1rem;
}
.third{
    display: flex;
    width: 320px;
    position: relative;
    left: 14px;
    align-items: center;
}
.third .teach-on-udemy{
    margin-left: 14px;
}
.buttons{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.buttons .cart-icon{
    width: 25px;
    height: 25px;
}
.buttons .common{
    width: 80px;
    height: 40px;
}
.login{
    margin-left: 1rem;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.signup{
    background-color: black;
    color: white;
    margin-left: 0.5rem;
    border: none;
}
.globe-box{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 0.5rem;
    position: relative;
}
.globe-box img{
    width: 20px;
    height: 20px;
}

@media(max-width:1337px){
    .navbar .input-section{
        width: 45%;
    }
}
@media(max-width:1084px){
    .navbar .input-section{
        width: 80%;
    }
    .third .teach-on-udemy{
        display: none;
    }
    .third{
        justify-content: center;
    }
}
@media(max-width:922px){
    .navbar .input-section{
        width: 80%;
    }
    .third{
        display: none;
    }
}


/* For mobile */
.navbar-mobile {
    display: none;
}
.navbar-mobile .cart-icon{
    margin-left: 20px;
}
.navbar-mobile .buttons{
    margin: 0;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.498);
    z-index: 5;
    top: 0;
    left: 0;
}
.hamburger div{
    width: 20px;
    height: 4px;
    background-color: black;
    margin-top: 2px;
}
.mobile-div{
    position: fixed;
    width: 280px;
    height: 100vh;
    background-color: white;
    z-index: 10;
    transform: translateX(-100%);
    animation: slide-right 0.2s linear forwards;
    overflow-x: hidden;
}
.deactivate{
    animation: slide-left 0.2s linear forwards;
}
.close-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 285px;
    top:10px;
    z-index: 30;
    border: none;
    font-weight: 600;
    font-size: 1.2rem;
}
@keyframes slide-right{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide-left{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.sub-mobile-div{
    position: absolute;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 20;
    background-color: white;
    animation: slide 0.2s linear forwards;
}
.back-button{
    position: absolute;
    top:10px;
    left:20px;
    background-color: transparent;
    color: black;
    border: none;
}
.sub-mobile-div-deactivate{
    animation: slide-to-right 0.2s linear forwards;
}
@keyframes slide-to-right {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes slide {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@media(max-width:800px){
    .navbar{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        width: 100%;
        height: 76px;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        box-shadow: 0px 1px 9px 0px grey;
    }
}
@media (min-width:800px){
    .mobile-div, .overlay,.close-button{
        display: none;
    }
}